
body {
    background-color: darkred;
}


h1 {
    text-align: center;
    color: white;
    text-shadow: 0em .1em 0em black;
}

section {
    display: block;
}

#ready-state, #question-1, #question-2, #question-3, #question-4, #question-5, #results-section {
    padding-top: .2em;
    padding-left: 1em;
    background-color: navajowhite;
    height: 30em;
    border: 1px solid black; /*for styling purposes*/
}

#ready-state > h2 {
    margin-top: 8em;
    margin-left: 6em;
    text-align: center;
    width: 20em;
}

.start-quiz {
    margin-left: 19em;
}

#answers-1, #answers-2, #answers-3, #answers-4, #answers-5 {
    margin-top: 1em;
}

#hint-1-text, #hint-2-text, #hint-3-text, #hint-4-text, #hint-5-text {
    margin-left: 0.5em;
}

.hint-container {
    display: inline-flex;
    width: 42em;
}

.content {
    width: 50em;
    margin: 0 auto;
}

#submit-answer-1, #submit-answer-2, #submit-answer-3, #submit-answer-4, #submit-answer-5  {
    margin-top: 1em;
}

#results-section > h2 {
    margin-left: 6em;
    text-align: center;
    width: 20em;
}

#final-score-label {
    margin-top: 7em;
}

.restart-quiz {
    margin-left: 19.8em;
}

#restart-quiz {
    padding-bottom: 2em;
}

#questions-answered {
    margin-left: 5.5em;
}

#total-score-value {
    margin-left: 1em;
}

#questions-answered-value {
    margin-left: 1em;
}

.progress-tracker {
    margin-left: 11em;
    display: inline-flex;
    text-align: center;
}

footer {
    background-color: indianred
}

#ranking {
    text-align: center;
}

#correct-1, #correct-2, #correct-3, #correct-4, #correct-5 {
    font-style: italic;
    font-weight: bold;
    color: limegreen;
    font-size: 1.5em;
}

#incorrect-1b, #incorrect-1c, #incorrect-2a, #incorrect-2b, #incorrect-3a, #incorrect-3c, #incorrect-4a, #incorrect-4b, #incorrect-5b, #incorrect-5c {
    font-style: italic;
    font-weight: bold;
    color: red;
    font-size: 1.5em;
}
